<launch>
  <!-- Map server -->
  <arg name="map_file" default="/home/sid/largemap.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen" />

  <!-- AMCL for localization -->
<node name="amcl" pkg="amcl" type="amcl" output="screen">
  <param name="odom_frame_id" value="odom"/>
  <param name="base_frame_id" value="base_link"/>
  <param name="global_frame_id" value="map"/>
  <param name="min_particles" value="1000"/>
  <param name="max_particles" value="5000"/>
  <param name="update_min_d" value="0.1"/>
  <param name="update_min_a" value="0.1"/>
  <param name="laser_max_range" value="12.0"/>
  <param name="odom_model_type" value="diff"/>
  <param name="recovery_alpha_slow" value="0.001"/>
  <param name="recovery_alpha_fast" value="0.1"/>
  <remap from="scan" to="/scan"/>
</node>

<node pkg="tf" type="static_transform_publisher" name="map_to_odom"

          args="0 0 0 0 0 0 1 map odom 10"/>

  <!-- Static transform if no odometry -->
<node pkg="tf" type="static_transform_publisher" name="odom_to_base_link"
      args="0 0 0 0 0 0 1 odom base_link 10" />


  <!-- Laser to base_link transform -->
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base_link" args="0 0 0 0 0 0 base_link laser 100" />
</launch>
