<launch>  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">    <param name="target_frame" value="base_link"/>    <param name="transform_tolerance" value="0.01"/>    <param name="min_height" value="0.1"/>   <!-- Ignore ground points below 10 cm -->    <param name="max_height" value="1.5"/>   <!-- Ignore high points above 1.5 m -->    <param name="angle_min" value="-3.14"/>    <param name="angle_max" value="3.14"/>    <param name="angle_increment" value="0.0058"/>    <param name="range_min" value="0.1"/>    <param name="range_max" value="30.0"/>    <param name="scan_time" value="0.1"/>    <param name="use_inf" value="true"/>    <param name="inf_epsilon" value="1.0"/>    <remap from="cloud_in" to="/points_raw"/>    <remap from="scan" to="/scan"/>  </node></launch>